<ul class="p-matrix">
    {% for page in pages %}
        <li class="p-matrix__item">
            {% if page.image %}<div class="grid-list__image-container"><img class="grid-list__image" alt="{{ page.title }} logo" src="{{ page.image }}"></div>{% endif %}
            <div class="p-matrix__content">
                <h5 class="p-matrix__title"><a href="{{ page.path }}">{{ page.title }}</a></h5>
                <p class="p-matrix__desc">{{ page.description }}</p>
        </li>
    {% endfor %}
</ul>
